body {
  background-color: rgb(208, 167, 231);
  background-image: url(https://img1.picmix.com/output/stamp/normal/6/0/1/6/1556106_f227e.gif);
  font: normal 20px Monospace;
  text-align: center;
}
footer {
  color: white;
}
input {
  border-radius: 3px;
  border: solid 1px white;
  font-size: 15pt;
}
